@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

;

.room-card:hover {
  color: white;
}

.room-card:hover .price {
  color: white;
}

.room-card button {
  border: 2px solid lightgray;
}

.room-card:hover button {
  background-color: white;
  border: none;

}


/* Swiper JS CSS Below */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* Custom CSS  */
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet-active {
  background: #F43F5E !important;
}

.parallex-gradient {
  background-color: #0000003b;
  opacity: 1;
}

.banner-gradient {
  background-color: #0000002e;
  opacity: 1;
}

.getStarted-parallax {
  background-color: #e9567353;
  opacity: 1;
}

.contact-form label {
  margin-left: 5px;
  font-weight: 500;
  padding-bottom: 5px;
}

.contact-form input[type="text"],
input[type="email"],
textarea {
  border-bottom: 2px solid lightgray !important;
  padding: 4px;

}

.contact-form textarea {
  padding: 0 8px;
}

.booking-card {
  height: 520px;
}

/* nav active link */
.nav a.active {
  background-color: #F43F5E;
  color: white;
}

.password-field {
  border-radius: 10px !important;
}

@media only screen and (min-width: 688px) {
  .room-img {
    height: 600px !important;
  }
}